@font-face {
  font-family: titulos;
  src: url(Fonts/Unbounded-SemiBold.ttf);
}

@font-face {
  font-family: parrafos;
  src: url(Fonts/DarkerGrotesque-Regular.ttf);
}

@font-face {
  font-family: titulos-texto;
  src: url(Fonts/Unbounded-ExtraLight.ttf);
}

body{
  background: linear-gradient(94deg, rgba(0,0,0,1) 0%, rgba(106,105,105,1) 100%);
  overflow-x:hidden;
}

h1{
  font-family: titulos;
  color: #FFFFFF;
}

h2{
  font-family: titulos-texto;
}

h3{
  font-family: titulos-texto;
}

p{
  font-family: parrafos;
  font-size: 19px;
}

.row{
  border: 2px solid white;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  text-align: justify;
  width: 33.3%;
  padding: 10px;
  height: 500px;
  overflow-y: scroll;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.seccion{
  display: inline-block;
  color: #FFFFFF;
  width: 33%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  background: #000000;
  border: 4px solid #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: #e1e1e1;
}

.Secmovil{
  background-color: gray;
}

@media only screen and (min-width: 600px){

  .Titulomovil{
    display: none;
  }

  main{
    display: none;
  }

  nav{
    display: none;
  }

  .Contmovil{
    display: none;
  }

  .Autor{
    display: flex;
    background-color: white;
    margin-top: 20px;
  }

  .fotoautor{
    width: 100%;
  }

  .ImgAutor{
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .TxtAutor{
    margin-left: 20px;
    width: 80%;
  }

}

nav {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

a {
  float: left;
}

a {
  font-family: parrafos;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 33.3%;
}

a:hover {
  background-color: #111;
}

main div {
  display: none;
  padding: 20px;
}

main{
  background-color: #FFFFFF;
}

.active {
  display: block;
}

@media only screen and (max-width: 600px) {
  body{
    background-color: #ffffff;
  }

  .Tituloescritorio{
    display: none;
  }

  .secciones{
    display: none;
  }

  .column{
    display: none;
  }

  .Autor{
    background-color: white;
    display: block;
    margin-bottom: 100px;
  }

  .fotoautor{
    width: 60%;
  }

  .ImgAutor{
    padding-top: 20px;
    padding-left: 20px;
  }

  .TxtAutor{
    padding: 20px;
  }

  }
}

p{
  text-align: justify;
}

.Titulomovil{
  color: white;
  position: block;
  padding: 20px;
  text-align: center;
  font-family: titulos-texto;
  font-size: 25px;
  text-decoration: underline;
}

.cajaheadermovil{
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.Tituloescritorio{
  position: absolute;
  top: 0;
  left: 1%;
  right: 0;
  padding-top: 1%;
  margin-top: 0;
  height: 9%;
  font-family: titulos-texto;
  border-bottom: 2px solid white;
  width: 28%;
}

.secciones{
  padding-left: .4%;
}

.separador{
  width: 100%;
  height: 50px;
  background-color: white;
  color: white;
}
