@font-face {
  font-family: titulos;
  src: url(Fonts/KdamThmorPro-Regular.ttf);
}

@font-face {
  font-family: parrafos;
  src: url(Fonts/Arvo-Regular.ttf);
}

@font-face {
  font-family: titulos-texto;
  src: url(Fonts/Arvo-BoldItalic.ttf);
}

body{
  background-color: #191919;
  overflow-x:hidden;
}

h1{
  font-family: titulos;
  color: #FFFFFF;
}

h2{
  font-family: titulos;
}

h3{
  font-family: titulos-texto;
}

p{
  font-family: parrafos;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  text-align: justify;
  width: 33.3%;
  padding: 10px;
  height: 500px;
  overflow-y: scroll;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Autor {
  display: flex;
  width: 100%;
  margin: 1rem;
  margin-left: 10px;
  padding: 0rem 0rem;
  text-align: justify;

}

.ImgAutor {
  padding: 0px;
  float: left;
  display: inline-block;
  width: 20%;
}

.TxtAutor {
  padding: 0px;
  float: left;
  display: inline-block;
  color: #FFFFFF;
  width: 30%;
}

.Nombre{
  margin-top: 0px;
}

.seccion{
  display: inline-block;
  color: #FFFFFF;
  width: 33%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  background: #ffffff;
  border: 4px solid #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border: 2px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: #e1e1e1;
  border: 2px solid black;
}
